# Chapter 11: Filtering and Sorting Rows

In [1]:
import polars as pl
pl.show_versions()  # The book is built with Polars version 1.0.0

In [2]:
tools = pl.read_csv("data/tools.csv")
tools

## Filtering Rows

### Filtering Based on Expressions

In [5]:
tools.filter(
    pl.col("cordless") &  
    (pl.col("brand") == "Makita")
)

In [6]:
tools.filter(
    pl.col("cordless"),
    pl.col("brand") == "Makita"
)

### Filtering Based on Column Names

In [8]:
tools.filter("cordless")

### Filtering Based on Constraints

In [10]:
tools.filter(cordless=True, brand="Makita")

## Sorting Rows

### Sorting Based On a Single Column

In [13]:
tools.sort("price")

### Sorting in Reverse

In [15]:
tools.sort("price", descending=True)

In [16]:
tools.sort("price", ascending=False)

### Sorting Based on Multiple Columns

In [18]:
tools.sort("brand", "price")

In [19]:
tools.sort("brand", "price", descending=[False, True])

### Sorting Based on Expressions

In [21]:
tools.sort(pl.col("rpm") / pl.col("price"))

### Sorting Nested Data Types

In [23]:
tools_collection = tools.group_by("brand").agg(collection=pl.struct(pl.all()))
tools_collection

In [24]:
tools_collection.sort(pl.col("collection").list.len(), descending=True)

In [25]:
tools_collection.sort(
    pl.col("collection").list.eval(
        pl.element().struct.field("price")
    ).list.mean()
)

In [26]:
tools_collection.with_columns(
    mean_price=pl.col("collection").list.eval(
        pl.element().struct.field("price")
    ).list.mean()
).sort("mean_price")

## Related Row Operations

In [28]:
tools.drop_nulls("rpm").height

In [29]:
df.filter(pl.all_horizontal(pl.all().is_not_null()))

In [30]:
(
    tools.with_row_index()
    .gather_every(2).head(3)
)

In [31]:
tools.top_k(3, by="price")

In [32]:
tools.sample(fraction=0.2)

In [33]:
saws = pl.DataFrame({"tool": ["Table Saw", "Plunge Cut Saw", "Miter Saw",
                              "Jigsaw", "Bandsaw", "Chainsaw", "Seesaw"]})
tools.join(saws, how="semi", on="tool")

## Takeaways